<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>客服案列详情</title>

  <!-- Bootstrap -->
  <link href="../css/bootstrap.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->


  <!--===================================公共CSS样式===========================-->
  <link rel="stylesheet" href="../css/homePublic.css">
  <!--=====================================字体图标===============================-->
  <link rel="stylesheet" href="../font/font_icon/iconfont.css">
  <!-- ===================================自己的css样式========================== -->
  <link rel="stylesheet" href="../css/ZJ-public.css">
  <link rel="stylesheet" href="../css/ZJ-jour.css">
  <style>
    #NAV{
      background-color: #63532d;
      position: inherit;
    }
  </style>
</head>
<body>
<!--============================navbar:导航条 ======================================-->
<%-include("head.ejs")%>
<%-include("left_nav.ejs")%>

<!--==================轮播图及详情===============-->
<div class="ZJ-body">
  <div class="container-fluid">

    <!--商品全名-->
    <div class="row ">
      <h1 class="SecondSubtitle2"><%=myCaseShops[0].s_name%></h1>
    </div>


    <!--轮播图部分-->
    <div class="row ZJ-detailsTU1 ZJ-case ZJ-caseTU1">
      <!--轮播图-->
      <div class="col-lg-6 col-md-6 ZJ-caseImg">
        <img src="<%=myCaseShops[0].si_imgSrc%>" alt="">
      </div>


      <!--介绍详情-->
      <div class="col-lg-6 col-md-6 ZJ-detailsTitle">
        <!--顾客详情介绍-->
        <hr class="ZJ-line ZJ-margin0">
        <div class="ZJ-relative">
          <h3 class="ZJ-margin0">顾客介绍:</h3>
          <p><%=myCase[0].cu_introduce%></p>
        </div>

        <!--产品详情-->
        <hr class="ZJ-line ZJ-margin0">
        <div class="SmallTitle2 ">
          <ul class="ZJ-menuArticle">
            <li>出发地点|<span><%=myCaseShops[0].s_go%></span></li>
            <li>成团人数|<span><%=myCaseShops[0].s_teamNumber%>人</span></li>
            <li>出行天数|<span><%=myCaseShops[0].s_day%>天<%=myCaseShops[0].s_day-1%>晚</span></li>
            <li>推荐出行季节|<span>全季</span></li>
            <li>价钱|<span>￥<%=myCaseShops[0].s_price%>/人起</span></li>
          </ul>
          <!--按钮盒子-->
          <div class="row awayTake ZJ-btn ZJ-awayTake">
            <div class="awayTakeBtn ZJ-absolute">
              <p><a href="/CaseDetails.do?id=<%=myCaseShops[0].id%>">行程详情</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--顾客评价-->
    <div class="row ZJ-detailsTU2 ZJ-case1">
      <div class="col-lg-2 col-md-3 col-sm-12 ZJ-relative text-left">
        <h3 class="SecondSubtitle2">客服评价</h3>
        <div >
          <p>总品分：<span><%=(myCaseComment[0].ev_route+myCaseComment[0].ev_guide+myCaseComment[0].ev_hotel+myCaseComment[0].ev_customer)/4%></span></p>
          <ul>
            <li>
              线路设计：<span><%for(let i=0;i<myCaseComment[0].ev_route;i++){%>★<%}%></span>
            </li>
            <li>
              导游服务：<span><%for(let i=0;i<myCaseComment[0].ev_guide;i++){%>★<%}%></span>
            </li>
            <li>
              酒店服务：<span><%for(let i=0;i<myCaseComment[0].ev_hotel;i++){%>★<%}%></span>
            </li>
            <li>
              客服服务：<span><%for(let i=0;i<myCaseComment[0].ev_customer;i++){%>★<%}%></span>
            </li>
            <li>
              再次定制：<span>会</span>
            </li>
          </ul>

        </div>
        <div class="ZJ-hr visible-lg"></div>
      </div>
      <div class="col-lg-10 col-md-9">
        <h3 class="SecondSubtitle2">顾客评价</h3>

        <p><%=myCaseComment[0].ev_evaluation%></p>
      </div>
    </div>


    <!--顾客晒单-->
    <div class="row ZJ-detailsTU2 ZJ-detailsTU3">
      <div class="col-lg-12 col-md-12 col-sm-12 text-left">
        <h3 class="SecondSubtitle2">顾客感观</h3>
        <div>
          <%for(let i=0;i<myCaseImages.length;i++){%>
          <img src="<%=myCaseImages[i].fe_imgSrc%>" alt="">
          <%}%>
        </div>
      </div>
    </div>
  </div>
</div>


<!--=======================================按钮=========================-->
<div class="ZJ-body  ZJ-details">
  <div class="container-fluid">
    <div class="row awayTake ZJ-btn ZJ-awayTake">
      <div class="awayTakeBtn ZJ-absolute">
        <p><a href="fz-youtrip/1">youTrip社区分享</a></p>
      </div>
    </div>
  </div>
</div>



<!--===========================页脚================================-->
<div class="container-fluid">
    <%-include("foot.ejs")%>
</div>

<!-- =============================框架============================= -->
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/bootstrap.js"></script>

<!--===============================公共样式=======================-->
<script src="js/homePublic.js"></script>

<script src="../js/ZJ-public.js"></script>

<!--==============================自己的样式===========================-->
<script src="../js/ZJ-jour.js"></script>

</body>
</html>